

<div class="card " style="max-width: 200px; min-width: 180px;">
  <div class="card-header">
    Tipo
  </div>
  <ul class="list-group list-group-flush">
    
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" (change)="onChange($event)">
      <label class="form-check-label" for="inlineRadio2">&nbsp;Todos</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Calças" (change)="onChange($event)">
      <label class="form-check-label" for="inlineRadio1">&nbsp;Calças</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Casaco" (change)="onChange($event)">
      <label class="form-check-label" for="inlineRadio2">&nbsp;Casaco</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Camisa" (change)="onChange($event)">
      <label class="form-check-label" for="inlineRadio2">&nbsp;Camisa</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="T-Shirt" (change)="onChange($event)">
      <label class="form-check-label" for="inlineRadio2">&nbsp;T-Shirt</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Sweatshirt" (change)="onChange($event)">
      <label class="form-check-label" for="inlineRadio2">&nbsp;Sweatshirt</label>
    </div>
   
  </ul>
  <div class="card-header">
    Cor
  </div>
  <ul class="list-group list-group-flush">
    <div>

      <div class="form-check ">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="Preto" (change)="onChange($event)">
        <label class="form-check-label" for="inlineRadio2">&nbsp;Preto</label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="Azul" (change)="onChange($event)">
        <label class="form-check-label" for="inlineRadio2">&nbsp;Azul</label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="Cinzento" (change)="onChange($event)">
        <label class="form-check-label" for="inlineRadio2">&nbsp;Cinzento</label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="Laranja" (change)="onChange($event)">
        <label class="form-check-label" for="inlineRadio2">&nbsp;Laranja</label>
      </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="2" (change)="onChange($event)">
          <label class="form-check-label" for="inlineRadio2">&nbsp;Todos</label>
      </div>
    </div>
 
  </ul>
</div>

   

  
