

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .nav-item{
    margin-top:15px;
    font-size: 20px;
}

fa-icon{
    color:rgb(80, 75, 75);
    margin-left: 10px;
}

#icons{
    padding-top:25px;
}

#nav{
    padding-left: 250px;
}
span{
    font-size: 20px;
    margin-top:15px;
}



@media only screen and (min-width: 0px) and (max-width: 990px){
    .nav-item span{
        display:none;
    }
    #brand-logo{
        display:none;
    }
    #nav{
        --bs-scroll-height: none;
        text-align: -webkit-center;
        padding-left: 0;
    }
    #icons{
        justify-content: space-around;
    }
}