<div class="container">

    <ul class="flex-container center">
        <li class="flex-item"><a href="https://www.facebook.com/" target=”_blank” attribute><fa-icon [icon]="faFacebook" ></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.instagram.com/" target=”_blank” attribute><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.twitter.com/" target=”_blank” attribute><fa-icon [icon]="faTwitter"></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.youtube.com/" target=”_blank” attribute><fa-icon [icon]="faYoutube"></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.pinterest.com/" target=”_blank” attribute><fa-icon [icon]="faPinterest"></fa-icon></a></li>
      </ul>
      <p>O conteúdo deste site está protegido por copyright e é propriedade da H & M Hennes & Mauritz AB. O conceito de negócio da H&M é a oferta de moda e qualidade aos melhores preços, de forma sustentável. Desde que foi fundada, em 1947, a H&M tornou-se uma das maiores empresas de moda do mundo.</p>

</div>

