<div class="container">

    <!-- <ul class="flex-container center">
        <li class="flex-item"><a href="https://www.warmane.com/" target=”_blank” attribute><fa-icon [icon]="faFacebook" ></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.warmane.com/" target=”_blank” attribute><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.warmane.com/" target=”_blank” attribute><fa-icon [icon]="faTwitter"></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.warmane.com/" target=”_blank” attribute><fa-icon [icon]="faYoutube"></fa-icon></a></li>
        <li class="flex-item"><a href="https://www.warmane.com/" target=”_blank” attribute><fa-icon [icon]="faPinterest"></fa-icon></a></li>
      </ul> -->

</div>

