h1{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

fa-icon{
    
     cursor: pointer;
    
}

img{
    cursor: pointer;
}

@media only screen and (min-width: 100px) and (max-width: 1000px){

    .col-lg-2{
      text-align: -webkit-center;
    }
  }

