<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h2>Insira o seu email e password!</h2>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input formControlName="email" type="email" class="form-control" id="email">
                      
                      <small *ngIf="loginForm.get('email')!.touched && loginForm.get('email')!.invalid">
                        Campo de preenchimento obrigatório.(formato: AAAA@BBB.CCC)
                    </small>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="password">
                      <small *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.invalid">
                        Campo de preenchimento obrigatório. Só pode utilizar letras e números no mínimo 5 caracteres (máx. 40 caracteres).
                    </small>
                    
                </div>
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-dark">Login</button>
                <br>    <a style="color: white" routerLink="/signup">Ainda não está resgistado? Clik aqui!</a>
                </form>
            </div>
        </div>
    </div>
</div>
