<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center">
                    <h1>Olá</h1>
                    <h6>Register Yourself !</h6>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Nome</label>
                        <input  formControlName="nome" type="text" class="form-control" id="exampleInputPassword1">
                        <small *ngIf="signupForm.get('nome')!.touched && signupForm.get('nome')!.invalid">
                          Só pode utilizar letras e espaços e no mínimo 3 caracteres (máx. 40 caracteres).
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input formControlName="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        <small *ngIf="signupForm.get('email')!.touched && signupForm.get('email')!.invalid">
                          Só pode utilizar letras e espaços e no mínimo 3 caracteres (máx. 40 caracteres).
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password"  type="password" class="form-control" id="exampleInputPassword1">
                        <small *ngIf="signupForm.get('password')!.touched && signupForm.get('password')!.invalid">
                          Só pode utilizar letras e espaços e no mínimo 3 caracteres (máx. 40 caracteres).
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Morada</label>
                        <input formControlName="morada" type="text" class="form-control" id="exampleInputPassword1">
                        <small *ngIf="signupForm.get('morada')!.touched && signupForm.get('morada')!.invalid">
                          Só pode utilizar letras e espaços e no mínimo 3 caracteres (máx. 40 caracteres).
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Código Postal</label>
                        <input formControlName="codigo_postal"  type="text" class="form-control" id="exampleInputPassword1">
                        <small *ngIf="signupForm.get('codigo_postal')!.touched && signupForm.get('codigo_postal')!.invalid">
                          Só pode utilizar letras e espaços e no mínimo 3 caracteres (máx. 40 caracteres).
                      </small>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">País</label>
                        <input formControlName="pais" type="text" class="form-control" id="exampleInputPassword1">
                        <small *ngIf="signupForm.get('pais')!.touched && signupForm.get('pais')!.invalid">
                          Só pode utilizar letras e espaços e no mínimo 3 caracteres (máx. 40 caracteres).
                      </small>
                      </div>
                 
                    <button  [disabled]="!signupForm.valid" type="submit" class="btn btn-dark">Registar</button>
                  </form>
                  <a style="color: white" routerLink="/login">Já está registado? Click aqui para fazer login </a>
            </div>
        </div>
    </div>
</div>

